.passwordField {
  width: 410px;
  height: 56px;
  margin: 24px;
  border: 1px solid var(--color-stroke);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;

  &__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-black);
    margin-left: 19px;
    margin-top: 16px;
  }

  &__refresh {
    width: 20px;
    height: 20px;
    margin-top: 17px;
    margin-right: 23px;
    cursor: pointer;

    &:hover {
      animation-name: rotate;
      animation-duration: 0.8s;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes rotate {
  to {transform: rotate(360deg);}
}