.slider {
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 24px;
  grid-gap: 8px;

  &__title {
    display: flex;
    justify-content: space-between;
    color: var(--color-black);
  }

  &__text {
    font-size: 16px;
    line-height: 22px;
    margin-top: 9px;
  }

  &__value {
    font-size: 24px;
    line-height: 33px;
  }

  &__input {
    -webkit-appearance: none;
    margin-top: 6px;
    cursor: ew-resize;

    &::-webkit-slider-runnable-track {
      background: var(--color-primary);
      height: 4px;
      border-radius: 90px;
    }

    &::-moz-range-track {
      background: #E2E2E2;
      height: 4px;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 20px;
      width: 20px;
      background: var(--color-primary);
      margin-top: -8px;
      margin-left: 6px;
      border: var(--color-white) 5px solid;
      border-radius: 50%;
    }

    &::-moz-range-thumb {
      height: 20px;
      width: 20px;
      background: var(--color-primary);
      margin-top: -5px;
      border-radius: 50%;
    }

    &::-webkit-slider-runnable-track:before {
      content: '';
      position: absolute;
      height: 4px;
      background-color: #E2E2E2;
      border-radius: 90px;
      left: 0;
      right: 0;
      z-index: -1;
    }

    &::-webkit-slider-runnable-track:after {
      content: '';
      position: absolute;
      height: 4px;
      background-color: var(--color-primary);
      border-radius: 90px;
      left: 0;
      z-index: -1;
      width: var(--value);
    }

    &::-webkit-slider-thumb {
      /* Reszta stylów dla suwaka */
      position: relative;
      z-index: 1;
    }

    &:focus::-webkit-slider-runnable-track:after {
      width: calc((100% - 20px) * (var(--value) / 100));
    }
  }
}