.slider {
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 24px;
  grid-gap: 8px;

  &__title {
    display: flex;
    justify-content: space-between;
    color: var(--color-black);
  }

  &__text {
    font-size: 16px;
    line-height: 22px;
    margin-top: 9px;
  }

  &__value {
    font-size: 24px;
    line-height: 33px;
  }

  &__input {
    -webkit-appearance: none;
    margin-top: 6px;
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 20px + var(--ratio) * (100% - 20px));

    &:focus {
      outline: none;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 1em;
      background: var(--color-primary);
      border: 5px solid var(--color-white);
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1), 0 7px 7px rgba(0, 0, 0, 0.04);
      margin-top: calc(4px * 0.5 - max(20px * 0.5,5px));
      cursor: e-resize;
    }

    &::-webkit-slider-runnable-track {
      height: 4px;
      border: none;
      border-radius: 90px;
      background: #e2e2e2;
      box-shadow: none;
    }

    &::-webkit-slider-thumb:hover {
      background: #3366FF;
      border-color: #D3D3D3;
    }

    &:hover::-webkit-slider-runnable-track {
      background: #e5e5e5;
    }

    &::-webkit-slider-thumb:active {
      background: #4D81FF;
      border-color: #BABABA;
    }

    &:active::-webkit-slider-runnable-track {
      background: #f5f5f5;
    }

    &::-webkit-slider-runnable-track {
      background: linear-gradient(#007cf8,#007cf8) 0/var(--sx) 100% no-repeat, #e2e2e2;
    }

    &:hover::-webkit-slider-runnable-track {
      background: linear-gradient(#0061c3,#0061c3) 0/var(--sx) 100% no-repeat, #e5e5e5;
    }

    &:active::-webkit-slider-runnable-track {
      background: linear-gradient(#2f98f9,#2f98f9) 0/var(--sx) 100% no-repeat, #f5f5f5;
    }

    &::-moz-range-thumb {
      width: max(calc(20px - 5px - 5px),0px);
      height: max(calc(20px - 5px - 5px),0px);
      border-radius: 1em;
      background: var(--color-primary);
      border: 5px solid var(--color-white);
      box-shadow: 0 0 2px black;
    }

    &::-moz-range-track {
      height: 4px;
      border: none;
      border-radius: 90px;
      background: #e2e2e2;
      box-shadow: none;
    }

    &::-moz-range-thumb:hover {
      background: #0061c3;
      border-color: #D3D3D3;
    }

    &:hover::-moz-range-track {
      background: #e5e5e5;
    }

    &::-moz-range-thumb:active {
      background: #2F98F9;
      border-color: #BABABA;
    }

    &:active::-moz-range-track {
      background: #f5f5f5;
    }

    &::-moz-range-track {
      background: linear-gradient(#007cf8,#007cf8) 0/var(--sx) 100% no-repeat, #e2e2e2;
    }

    &:hover::-moz-range-track {
      background: linear-gradient(#0061c3,#0061c3) 0/var(--sx) 100% no-repeat, #e5e5e5;
    }

    &::-moz-range-track {
      background: linear-gradient(#2f98f9,#2f98f9) 0/var(--sx) 100% no-repeat, #f5f5f5;
    }

    &::-ms-fill-upper {
      background: transparent;
      border-color: transparent;
    }

    &::-ms-fill-lower {
      background: transparent;
      border-color: transparent;
    }

    &::-ms-thumb {
      width: 20px;
      height: 20px;
      border-radius: 1em;
      background: var(--color-primary);
      border: 5px solid var(--color-white);
      box-shadow: 0 0 2px black;
      margin-top: 0;
    }

    &::-ms-track {
      height: 4px;
      border-radius: 90px;
      background: #e2e2e2;
      border: none;
      box-shadow: none;
    }

    &::-ms-thumb:hover {
      background: #0061c3;
      border-color: #D3D3D3;
    }

    &:hover::-ms-track {
      background: #e5e5e5;
    }

    &::-ms-thumb:active {
      background: #2F98F9;
      border-color: #BABABA;
    }

    &:active::-ms-track {
      background: #f5f5f5;
    }

    &::-ms-fill-lower {
      height: 4px;
      border-radius: 90px 0 0 90px;
      margin-left:  0;
      background: #007cf8;
      border: none;
      border-right-width: 0;
    }

    &:hover::-ms-fill-lower {
      background: #0061c3;
    }

    &:active::-ms-fill-lower {
      background: #2f98f9;
    }
  }
}

